@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

#gridComp, #grid_1556459708_0 {
  font-family: "Lato", sans-serif;
  border-radius: 20px;
}

.e-grid .e-gridheader {
  border-radius: 20px 20px 0 0;
}

.e-grid .e-gridpager {
  border-radius: 0 0 20px 20px;
}

/* .dark .e-spinner-pane  {
  background-color: #33373E;
}

.dark .e-grid .e-gridheader {
  background-color: #33373E;
}

.dark .e-grid .e-gridcontent {
  background-color: #33373E;
} */

.dark .e-headercell {
  color: rgb(229 231 235);
  background-color: #464950;
}

/* .dark .e-pager .e-pagercontainer {
  color: rgb(229 231 235);
  background-color: #464950;
} */

.dark .e-toolbar .e-tbar-btn,
.dark .e-toolbar .e-tbar-btn.e-btn .e-icons,
.dark .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
  color: rgb(229 231 235);
}

.dark .e-grid .e-table,
.dark .e-toolbar,
.dark .e-toolbar .e-tbar-btn,
.dark .e-toolbar .e-toolbar-items {
  background-color: #464950;
}

.dark .e-input-group,
.dark .e-input-group.e-control-wrapper,
.dark .e-float-input,
.dark .e-float-input.e-input-group,
.dark .e-float-input.e-control-wrapper,
.dark .e-float-input.e-input-group.e-control-wrapper,
/* .dark .e-grid .e-icons:not(.e-btn-icon), */
.dark #grid_1712249876_0_searchbar ::placeholder {
  color: rgb(229 231 235);
}

.dark .e-rowcell .e-selectionbackground .e-active {
  color: rgb(55 65 81) !important;
}

.dark .e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd),
.dark .e-grid .e-detailrowcollapse:not(.e-editedbatchcell):not(.e-updatedtd),
.dark .e-grid .e-detailrowexpand:not(.e-editedbatchcell):not(.e-updatedtd),
.dark
  .e-grid
  .e-gridcontent
  .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd),
.dark
  .e-grid
  .e-gridheader
  .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd),
.dark .e-grid .e-emptyrow:not(.e-editedbatchcell):not(.e-updatedtd) {
  color: rgb(229 231 235);
}
